html,
	body{
		font-family: Arial, sans-serif;
		height: 100%;
		margin:0;
		padding:0;
	}

	.topbar{
		height: 50px;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		background: #fff;
		position: fixed;
		border-bottom: solid 1px #f1f1f1;
		padding-left: 30px;
	}

	input[type="search"]{
	  -webkit-appearance:none;
	  outline-width: 0;
	  font-weight: 400;
	  font-size: 20px;
	}

	.sidebar{
		height:100%;
		width:30%;
		color:#000!important;
		background-color:#f1f1f1!important;
		position:fixed!important;
		z-index:1;
		overflow:hidden;
		top: 50px;
		text-align: center;
    	border-right: solid 1px #f1f1f1;
	}

	input#search{
		height: 100%;
		border: none;
	}

	.map-container{
		height: 100%;
    width: 70%;
    float: right;
	}

	#map{
		height: 100%;
		z-index: 0;
	}

	ul.list-items{
		list-style: none;
		text-align: left;
		-webkit-padding-start:0;
	}

	.list-items >li:hover{
		background-color: #fff;
		cursor: default;
	}

	.list-items >li{
		line-height: 50px;
		width: 100%;
		padding-left: 50px;
	}

	.selected{
		background-color: #fff;
	}

	.notselected{
		background-color: #f1f1f1;
	}

	#page-title{
		width: 100%;
		font-size: 30px;
	}